/* Principal */

body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/* Header */

#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
#header.header-scrolled {
  height: 60px;
}
#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #header .logo h1 {
    font-size: 28px;
  }
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  width: 62%;
}

/* Navbar */
.navbar {
  padding: 0;
  background-color: transparent;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #004289;
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #007bff;
}

/* Mobile */
.mobile-nav-toggle {
  color: #283d50;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(23, 35, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #004289;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #007bff;
}

/*Principal*/
#principal {
  width: 100%;
  position: relative;
  background: url("../img/obras.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
  opacity: 90%;
}
@media (max-width: 991px) {
  #principal {
    padding: 140px 0 60px 0;
  }
}
@media (max-width: 574px) {
  #principal {
    padding: 100px 0 20px 0;
  }
}
#principal .principal-img {
  width: 50%;
  float: right;
}
@media (max-width: 991px) {
  #principal .principal-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }
}
#principal .principal-info {
  width: 50%;
  float: left;
}
@media (max-width: 991px) {
  #principal .principal-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #principal .principal-info {
    width: 100%;
  }
}
#principal .principal-info h2 {
  color: #000;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 700;
}
#principal .principal-info h2 strong {
  color: #428cdb;
  text-decoration: underline;
}
@media (max-width: 767px) {
  #principal .principal-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }
}
#principal .principal-info .btn-get-started, #principal .principal-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}
#principal .principal-info .btn-get-started {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}
#principal .principal-info .btn-get-started:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}
#principal .principal-info .btn-services {
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}
#principal .principal-info .btn-services:hover {
  background: none;
  border-color: #fff;
  color: #fff;
}

/* Section */
section {
  overflow: hidden;
}
section div .about-extra a{
  font-size: x-large;
}


/* Section Header */
.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}
.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}
@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/* Section background */
.section-bg {
  background: #ecf5ff;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 20px 0;
  background-color: #f5faff;
  min-height: 40px;
  margin-top: 80px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* Serviços */--------------------------------*/
#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 10px 40px 10px;
  background: transparent;

}

#services .icon {
  position: absolute;
  left: -15px;
  top: calc(50% - 32px);
}
#services .icon i {
  font-size: 64px;
  line-height: 0;
  transition: 0.5s;
}
#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
#services .title a {
  color: #111;
}
#services .box:hover .title a {
  color: #007bff;
}
#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#search{
  border-radius: 50px 0px 0px 50px;
  padding-left: 20px;
}
#btn_search{
  border-radius: 0px 50px 50px 0px;
}

/* Contato */
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}
#contact .section-header {
  padding-bottom: 30px;
}
#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}
#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}
#contact .social-links {
  padding-bottom: 20px;
}
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}
#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}
#contact .info {
  color: #283d50;
}
#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 0;
}
#contact .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form input, #contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact .php-email-form input:focus, #contact .php-email-form textarea:focus {
  border-color: #007bff;
}
#contact .php-email-form input {
  padding: 10px 15px;
}
#contact .php-email-form textarea {
  padding: 12px 15px;
}
#contact .php-email-form button[type=submit] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}
#contact .php-email-form button[type=submit]:hover {
  background: #0067d5;
  cursor: pointer;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Footer */
#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
  margin-top: 50px;
}
#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  color: #fff;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a i {
  line-height: 0;
}
#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}
#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}
#footer .footer-top .footer-newsletter input[type=email] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type=submit] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type=submit]:hover {
  background: #0062cc;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}
#footer .credits a {
  color: #bfddfe;
}
#footer .credits a:hover {
  color: #f1f7ff;
}

/* Box Serviços */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

#containers{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 280px;
	width: 700px;

}
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 15px;
	height: 100%;
	float: left;
	width: 100%;

}
#containers .product-details h1{
	font-family: "Montserrat", sans-serif;
	display: inline-block;
	position: relative;
  text-align: center;
	font-size: 30px;
	color: #344055;
	margin: 0;

}
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}
#containers .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: left;
	font-size: 18px;
	color: #7d7d7d;
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
}
.btn1 {
	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
}
.btn1:hover{transform: translateY(-6px);
	background: #1a66ff;
}
.btn1 span {
	font-family: "Montserrat", sans-serif;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}
.btn1 .price, .plus{
	background: #333;
	border: 0;
	margin: 0;
  width: 100px;
}
.btn1 .price {
	transform: translateX(-10%); padding-right: 15px;
}
.btn1 .plus {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn1 .buy {z-index: 3; font-weight: bolder;}

.btn1:hover .price {transform: translateX(-110%);}

.btn1:hover .plus {transform: translateX(0%);}

.infos h2 {text-align: center}
.product-image:hover .infos{transform: translateX(0);}

.infos ul li{transition: 0.3s ease;}
.infos ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

.button {
  background-color: #1a66ff;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

/* Icon User */
.button5 {border-radius: 50%;}

* {
  box-sizing: border-box;
}


/* Filtro */
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: rgba(112, 186, 247, 0.774);
}

/* Perfil */
.profilecontainer {
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 50px;
  justify-content: center;
  margin-top: 21px;
  margin-right: 10px;
  align-items: center;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.card {
  background-color: #76a9f7;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
}


.draw-border {
  box-shadow: inset 0 0 0 4px #ffffff;
  color: #ffffff;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #0059df;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.bttn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 1em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #ffffff;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

/* Tabela Usuários */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
